Source: rofi-wayland
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: rofi-wayland
Architecture: linux-any
Depends: ${misc:Depends},
Conflicts: rofi
Provides: rofi
Description: Wayland fork of rofi
