Source: rofi-wayland
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
                bison,
               flex,
               libpango1.0-dev,
               libstartup-notification0-dev,
               libxkbcommon-dev (>= 0.5.0),
               libxkbcommon-x11-dev (>= 0.5.0),
               libxcb1-dev,
               libxcb-xkb-dev,
               libxcb-xinerama0-dev,
               libxcb-ewmh-dev,
               libxcb-icccm4-dev,
               libxcb-randr0-dev,
               libxcb-util0-dev,
               librsvg2-dev,
               libxcb-xrm-dev,
               libxcb-cursor-dev,
               check,
               libwayland-dev,
               wayland-protocols,
Rules-Requires-Root: no

Package: rofi-wayland
Architecture: linux-any
Depends: ${misc:Depends},
Conflicts: rofi
Provides: rofi
Description: Wayland fork of rofi
